.portfolio_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
}
.portfolio_item {
  padding: 1.2 rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portfolio_item-image {
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.text {
  text-align: left;
  padding: 10px 10px;
  margin-top: -40px;
  line-height: normal;
  font-size: 0.9rem;
}
.skills {
  text-align: left;
  padding: 10px 10px;
  line-height: normal;
  font-size: 0.9rem;
}
.portfolio_item h3 {
  text-align: center;
  min-height: 4rem;
  margin-top: 0.5rem;
}

.portfolio_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
