.prouni_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
}
.prouni_item {
  padding: 1.2 rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prouni_item-image {
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.prouni_item h3 {
  margin: 1.2rem 0 2rem;
  padding-left: 0.5rem;
}

.prouni_btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
}
