.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #59b256;
}
.logo {
  font-size: 28px;
  color:black;
  
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

ul a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 0 1.5rem;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #471818;
    left: 0;
    top: 60px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  ul a {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    right: 2rem;
    background-color: transparent;
  }
  .nav_container {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 360px) {
  .logo {
    font-size: 20px;
  }

  .mobile-menu-icon {
    font-size: 20px;
  }
}
