#skills {
  background-color: white;
  height: 85vh;
  margin-bottom: -25px;
}
.skills_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 2px solid black;
  padding: 100px;
  
}
.skills_container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0 0.8rem;
}
.skills_container-item img {
  width: 108px;
}

@media screen and (max-width: 600px) {
  .skills_container-item img {
    width: 70px;
  }
}
