@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --container-width-lg: 85%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}
html {
  scroll-behavior: smooth;
}
/* ---------GENERAL STYLES-------  */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding-bottom: 3rem;
}
section h1 {
  text-align: center;
  margin-bottom: 3.5rem;
  padding-top: 1.5rem;
}
.btn {
  width: 6.3rem;
  text-align: center;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: #59b256;
  color: white;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: blue;
  transition: var(--transition);
}

h3 {
  font-size: 1rem;
}

/* --------------MEDIA QUERIES------------- */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section h1 {
    margin-bottom: 2.5rem;
  }
}
